<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bd_postgrado</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Pojo/Archivos.hbm.xml"/>
    <mapping resource="Pojo/Parroquia.hbm.xml"/>
    <mapping resource="Pojo/Notas.hbm.xml"/>
    <mapping resource="Pojo/Maestria.hbm.xml"/>
    <mapping resource="Pojo/TipoPago.hbm.xml"/>
    <mapping resource="Pojo/Usuario.hbm.xml"/>
    <mapping resource="Pojo/Provincia.hbm.xml"/>
    <mapping resource="Pojo/Persona.hbm.xml"/>
    <mapping resource="Pojo/Requisitos.hbm.xml"/>
    <mapping resource="Pojo/Promocion.hbm.xml"/>
    <mapping resource="Pojo/RequisitosPromo.hbm.xml"/>
    <mapping resource="Pojo/SolicitudInscripcion.hbm.xml"/>
    <mapping resource="Pojo/DatosNac.hbm.xml"/>
    <mapping resource="Pojo/Proyecto.hbm.xml"/>
    <mapping resource="Pojo/Pago.hbm.xml"/>
    <mapping resource="Pojo/Matricula.hbm.xml"/>
    <mapping resource="Pojo/Asistencia.hbm.xml"/>
    <mapping resource="Pojo/Sustentacion.hbm.xml"/>
    <mapping resource="Pojo/HorarioModulo.hbm.xml"/>
    <mapping resource="Pojo/TipoActa.hbm.xml"/>
    <mapping resource="Pojo/DatosDom.hbm.xml"/>
    <mapping resource="Pojo/Tribunal.hbm.xml"/>
    <mapping resource="Pojo/Estudiante.hbm.xml"/>
    <mapping resource="Pojo/Modulo.hbm.xml"/>
    <mapping resource="Pojo/DatosLab.hbm.xml"/>
    <mapping resource="Pojo/Pais.hbm.xml"/>
    <mapping resource="Pojo/Universidad.hbm.xml"/>
    <mapping resource="Pojo/Acta.hbm.xml"/>
    <mapping resource="Pojo/Canton.hbm.xml"/>
    <mapping resource="Pojo/Permiso.hbm.xml"/>
    <mapping resource="Pojo/Postgrado.hbm.xml"/>
    <mapping resource="Pojo/DetallePermiso.hbm.xml"/>
    <mapping resource="Pojo/TipoTribunal.hbm.xml"/>
    <mapping resource="Pojo/TipoPrecio.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="Pojo/Titulacion.hbm.xml"/>
    <mapping resource="Pojo/Titulo.hbm.xml"/>
    <mapping resource="Pojo/Precio.hbm.xml"/>
    <mapping resource="Pojo/TipoTitulacion.hbm.xml"/>
    <mapping resource="Pojo/TipoUsuario.hbm.xml"/>
    <mapping resource="Pojo/PalabrasClave.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
